p::selection{
    color: red;
    background-color: aqua;
}
[class *="city"]{
    color: pink;
}

.city-d{
    color: green !important;
}

.sup{
    height: 300px;
    width: 300px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dotted red;
}
.sub{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main1:first-child{
    color: rgb(79, 234, 154);
    background-color: blue;
    height: 100px;
    width: 100px;
}
.d3{
    color: red;
    background-color: blue;
    height: 100px;
    width: 100px;
}

.pp{
    border: 1px solid red;
    span{
        border: inherit;
    }
}


