.search{
    height: 270px;
    background-color: rgb(241, 228, 78);
    padding-left: 10px;
    padding-top: 5px;
}
#searchId{
    width: 280px;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
    outline: none;
    border: 2px solid black;
    padding-left: 12px;
}