img{
  height: 150px;
  width: 150px;
  border-radius: 40px;
}

.card{
  height: 340px;
  width: 200px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  button{
    font-weight: bold;
    height: 30px;
    border-radius: 5px;
  }
}